body {
    line-height: 1.6;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid #000;
  }
  .logo {
    font-size: 3rem;
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
  }
  .nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    display: inline;
    font-size: 1.75rem;
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .world {
    text-align: center;
    padding: 6rem 0;
    font-size: 4rem;
    font-family: "DotGothic16", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .world img {
    max-width: 100%;
    height: auto;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 96px 0;
  }
  
  .project-item {
    padding: 1rem;
  }
  
  .project-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .project-item h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .project-item p {
    font-size: 1rem;
    color: #555;
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .about {
    padding: 2rem;
    text-align: center;
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    align-items: center;
  }
  .contact-left h2 {
    font-size: 1.5rem;
    margin: 0;
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
  }

  .contact-right p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    max-width: 400px;
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .get-in-touch {
    text-align: center;
    padding: 2rem;
    margin: 15rem 0;
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.get-in-touch h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal;
}

.input-boxes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.input-boxes input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #555;
    border-radius: 5px;
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

form button {
    background-color: blue;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

form button:hover {
    background-color: darkblue;
}

.skip{
  font-family: "Archivo Narrow", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
    display: block;
    margin-top: 0.5rem;
    color: #555;
    text-decoration: none;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
  font-family: "DotGothic16", serif;
  font-weight: 400;
  font-style: normal;
}

footer button {
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Archivo Narrow", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
footer button:hover {
  background-color: black;
  color: white;
}